.benefit {
    font-size: 1.6em;
}

.benefit-list {  
    width: 70%;
    padding: 0;
    border-radius: 25px;
    background: #232C62;
    /* padding: 5px 0px 7px 0; */
}

.benefit-title {
    display: inline-block;
    width: 280px;
    background:#EB8725 ;
    border-radius: 25px;
    padding: 5px 25px;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    border:4px solid #ffae4b;
}

.benefit-text {
    display: inline;
    color: #fff;
    border-radius: 25px;
    margin-left:10px;
    font-size: 1.2em;
}

.online {
    position: absolute;
    margin-top: -1%;
    width: 13%;
    right: 15%;
}

.fs {
    width: 25%;
    position: absolute;
    display: inline;
    margin-top: -18vh;
    left: -10px;
    z-index: 4;
}

.fs-content {
    margin-top: -10vh;
}

.fs-btn {
    width: 80%;
}

.fs-early {
    font-size: 1.4em;
    padding-left: 10%;
}

.fs-desc {
    font-size: 1.8em;
    color : #E98621;
    margin-bottom: 30px;
}

.speaker {
    font-size: 2.1em;
    font-weight: bold;
    color : #E98621;
}

.speaker-photo {
    width: 85%;
}

.speaker-name {
    font-size: 1.8em;
    text-decoration: underline;
    margin-bottom: 10px;
}

.speaker-item {
    font-size: 1.1em;
    font-weight: normal;
    line-height: 1.2;
    margin-left: -10px;
    margin-bottom: 10px;
    text-align: justify;
    color: #A01E66;
}

.speaker-list {
    list-style-image: url('../img/listblue.webp');
    line-height: 1.3em;
    margin-left: -10px;
}

.fs-cp-title {
    font-weight: bold;
}

.fs-cp {
    width: 80%;
}

.fs-header {
    font-size: 1em !important;
}

.fs-body ul li {
    font-size: 0.8em !important;
    margin-left:-10px;
}

@media only screen and (min-width: 700px) {
 .speaker-detail {
     width: 80%;
 }   
}

@media only screen and (max-width: 700px) { 
    .benefit {
        margin-top: 0px !important;
        font-size: 1em;
        
    }

    .benefit-list {
        display: block;
        width: 90%;
        border-radius: 15px 15px 0 0;
    }

    .benefit-title {
        display: block;
        width: 100%;
        text-align: center;
        border-radius: 15px 15px 0 0;
        font-size: 1em;
    }

    .benefit-text {
        display: block;
        padding: 10px 10px !important;
        text-align: center;
    }

    .online {
        margin-top: -15% ;
        right: 30px;
    }

    .food-science {
        width: 100%;
        margin-top: -0vh;
    }

    .fs {
        margin-top: -20%;
        width: 35%;
    }

    .fs-content {
        margin-top: -5vh;
    }

    .fs-btn {
        width: 90% !important;
    }

    .fs-early {
        width: 80%;
        font-size: 0.9em;
        padding-left: 0%;
        text-align: center;
    }

    .speaker {
        text-align: left;
        font-size: 1.5em;
    }
    
    .speaker-photo {
        width: 100%;
        padding: 0%;
    }

    .speaker-detail {
        width: 100%;
    }

    .speaker-name {
        font-size: 1.2em;
    }

    .speaker-list {
        padding-right: 10px;
        font-size: 0.8em;
    }

    .fs-cp-title {
        font-size: 1.3em;
    }

    .fs-cp {
        width: 90%;
    }

    .fs-desc {
        font-size: 1.2em;
    }

    .contact {
        font-size: 0.6em;
    }
}

.wa {
    position: fixed;
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgb(221, 221, 221);
    right: 20px;
    bottom: 60px;
    z-index: 99999;
    cursor: pointer;
}

.wa img {
    width: 100%;
}

.wa-list {
    position: fixed;
    right: 20px;
    bottom: 120px;
    z-index: 99999;
    
}

.wa-item {
    display: block;
    width: 150px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 3px 15px;
    margin:5px 0px;
    border: 2px solid #E98621;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.wa-item:hover {
    background: #E98621;
    color: #000;
}

.register {
    position: fixed;
    border-radius: 20px;
    background: #232C66;
    color: #fff;
    border: 2px solid #E98621;
    right: 20px;
    bottom: 15px;
    z-index: 99999;
    cursor: pointer;
    padding: 5px 20px;
    transition: all 0.5s ease-in-out;
}

.register:hover {
    background: #E98621;
    color: #000;
}

.contact {
    font-size: 0.6em;
}
