@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

@font-face {
    font-family: 'Apercu';
    src: url('../font/career bootcamp font/Apercu Bold.woff') format('woff')
}

@font-face {
    font-family: 'coolvetica';
    src: url('../font/career bootcamp font/coolvetica rg.ttf') format('woff')
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    background: rgb(197, 214, 238);
    background: linear-gradient(184deg, rgba(197, 214, 238, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(197, 214, 238, 1) 100%);
    background-size: 100%;
}

.join-now {
    position: fixed;
    bottom: 35px;
    right: 70px;
    padding: 10px 40px;
    border-radius: 40px;
    z-index: 9999;
    background: #EB9E48;
    color: #fff;
    font-weight: bold;
    border: none !important;
    text-decoration: none;
}

.wrapper {
    padding: 0;
}

.form-control {
    box-shadow: none !important;
    outline: none !important;
}

#banner {
    height: auto;
    padding: 50px 13%;
}

.banner-logo {
    margin-left: -10px;
    width: 100px;
}

.banner-title {
    font-size: 7.3em;
    font-family: 'coolvetica' !important;
    line-height: .9em;
    text-shadow: 2px 0 #fff, 2px 2px #fff;
    color: #26387A;
    margin-left: -10px;
}

.banner-desc {
    color: #26387A;
    font-size: 2.2em;
    letter-spacing: 0px;
    margin-left: -10px;
}

.banner-grade {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'coolvetica' !important;
    color: #511446;
}

.banner-grade h5 {
    font-size: 1.3em;
    font-weight: normal !important;
}

.banner-grade h4 {
    font-size: 2em;
    line-height: 1em;
    font-weight: normal !important;
}

#speaker {
    padding: 50px 13%;
}

.btn-speaker {
    font-size: 1.6em !important;
    font-weight: normal !important;
    background: rgb(63, 68, 134);
    background: linear-gradient(90deg, rgba(63, 68, 134, 1) 0%, rgba(190, 64, 39, 1) 100%);
    color: #fff !important;
    padding: 5px 25px 10px 25px !important;
    border-radius: 30px !important;
    border: 3px solid rgb(201, 201, 201) !important;
    width: 80%;
    line-height: 1em !important;
    font-family: 'coolvetica' !important;
}

.info-title {
    position: relative;
    background: #EB9E48;
    color: #fff;
    font-weight: normal;
    font-size: 1.4em;
    padding: 5px 20px 10px 20px;
    display: inline;
    z-index: 9999;
    border-radius: 10px;
    font-family: 'coolvetica' !important;
    box-shadow: 2px 2px #1b224d48;
}

.info .card {
    margin-top: -10px;
    padding-top: 10px;
    background: #26387A;
    color: #fff;
    font-size: 1.3em;
    border-radius: 20px;
}

#content {
    padding: 50px 13%;
}

.content-title {
    font-size: 3.5em;
    /* margin-left: -10px; */
    color: #27377C;
    font-family: 'coolvetica' !important;
}

.content-desc {
    color: #27377C;
    font-size: 1.3em;
    font-weight: 400;
    text-align: justify;
}

.content-career {
    font-family: 'coolvetica' !important;
    margin: 30px 0 20px 0;
    font-size: 1.8em;
}

#schedule {
    padding: 50px 13%;
}

.card-schedule {
    /* background: rgba(255, 255, 255, 0.11); */
    /* border-radius: 5px; */
}

.card-content {
    position: relative;
    margin-top: -13% !important;
}

.duration {
    padding-top: 15%;
    padding-right: 5% !important;
}

.learn-list {
    list-style: none;
}

.learn-list li::before {
    content: "🟠";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    fill: #DC8B3D !important;
    color: #DC8B3D !important;
    font-size: .5em;
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 2em;
    /* Also needed for space (tweak if needed) */
    margin-top: -5px !important;
    margin-left: -3.5em;
    /* Also needed for space (tweak if needed) */
    vertical-align: middle;
}

.sublist {
    list-style: none;
}

.sublist li::before {
    content: "▷";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FF6723 !important;
    font-size: .7em;
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1.2em;
    /* Also needed for space (tweak if needed) */
    margin-top: -5px !important;
    margin-left: -2.7em;
    /* Also needed for space (tweak if needed) */
    vertical-align: middle;
}

#faq {
    padding: 50px 13%;
}

.faq-title {
    font-size: 4em;
    color: #26387A;
    font-family: 'coolvetica' !important;
}

.accordion, .accordion-item {
    border: none !important;
}

.accordion-button {
    box-shadow: none !important;
    outline: none !important;
    border-top: 1px solid #fff !important;
    border-bottom: 1px solid #fff !important;
    font-size: .6em !important;
}

.accordion-body {
    font-size: 1.1em;
}

.accordion-button {
    background: #EB9E48 !important;
    color: #fff !important;
}

.accordion-button:not(.collapsed) {
    background: rgb(63, 68, 134);
    background: linear-gradient(90deg, rgba(63, 68, 134, 1) 0%, rgba(190, 64, 39, 1) 100%) !important;
    color: #fff !important;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

#register {
    padding: 100px 13%;
}

#testimonial {
    padding: 50px 5%;
}

.test-icon {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    margin: auto;
    width: 40px;
    z-index: 9999;
}

.test-card {
    color: #fff;
    border: 0 !important;
    background: #26387A !important;
    border-bottom: 4px solid #fff !important;
    padding-top: 20px !important;
    text-align: center;
    transition: all .3s;
    cursor: pointer;
    height: 230px !important;
}

.test-user {
    font-family: 'coolvetica' !important;
    font-weight: 100 !important;
    letter-spacing: 1px;
    font-size: 1.1em;
    color: #E78724;
}

.test-card:hover {
    border-bottom: 4px solid #1B224D !important;
    background: #E78724 !important;
}

.test-card:hover .test-user {
    color: #1B224D;
}

.test-card .card-body {
    padding: 0 !important;
}

.dashed {
    border: 1px dashed #fff;
    border-radius: 10px;
    margin: 0 10px !important;
    margin-top: -7px !important;
    height: 98% !important;
    display: flex;
    align-items: center;
}

#about {
    text-align: center;
    padding: 50px;
}

#about h5 {
    font-size: 1.6em;
    color: #26387A;
}

.about-desc {
    text-align: center;
    width: 100%;
    justify-content: center;
    font-size: 1.3em;
    line-height: 1em;
    color: #26387A;
}

.about-icon {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    padding: 25px;
    background-color: #26387A;
    animation: slide 5s ease-in-out alternate infinite;
}

.about-icon img {
    width: 100%;
}

#footer {
    background: #27377C;
    padding: 50px 0;
    color: #fff;
}

#footer a {
    text-decoration: none;
    color: #fff;
}

@keyframes slide {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(5%);
    }
}

@keyframes up-bottom {
    0% {
        transform: translateX(-3%);
        transform: translateY(3%);
    }

    100% {
        transform: translateX(3%);
        transform: translateY(-3%);
    }
}