@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

@font-face {
    font-family: 'coolvetica';
    src: url('../font/coolvetica rg.ttf') format('woff')
}

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    // background-color: antiquewhite;
}

// Navbar

.navbar{
    font-family: 'coolvetica' !important;
    font-weight: 600;
    letter-spacing: 1px;
    
    ul{
        padding-left: 10px;
        a{
            &.active{
                color: #27387A !important;
            }
        }
    }

    .navbar-brand{
        margin-left: -10px !important;
    }
}

.navbar-allin {
    position: sticky;
    margin-top: -100px !important;
    background: transparent !important;
    transition: all 0.4s ease-in-out;
  }

  .navbar-allin.active {
    top: 0px;
    z-index: 9999;
    background-color: #00c6c2 !important;
  }

.btn-join-now{
    border-radius: 20px;
    color: #27387A !important;
    padding: 0;
    width: 9%;
    background-color: #F4E556 !important;
    height: fit-content !important;
}

// Banner
.banner{
    height: auto;
    padding: 100px 13%;
    padding-bottom: 0;
    margin-top: -0.2%;
}
    
.banner-logo {
    width:125px;
}

.banner-title {
    width: 80%;
    margin-left: -3%;
    margin-top: 10px;

}

.banner-desc {
    color: #27387A;
    font-size: 25px;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 0px;
    // margin-left: -10px;
}

.banner-grade {
    position: absolute;
    top: 35%;
    right: 0;
    font-family: 'coolvetica' !important;
    color: #27387A;
    text-align: right;    
    // font-size: 5em !important;
}

.option-bootcamp{
    .researcher{
        margin-left: 10%;
    }
    
    .financial{
        margin-left: -10%;
    }
}

.booking{
    margin-top: 2.2em;
    .group-booking{
        // margin-left: 10%;
        img{
            width: 45%;
        }
    }

    .price{
        margin-left: -60% !important;
        img{
            width: 85% !important;
        }
    }
}

.what-will-you-get{
    margin-top: 3em;
    // margin-bottom: -6%;
    img{
        width: 90%;
    }
}

.wrapper{
    padding: 50px 13%;
    margin-top: -3%;
}


// Content
.content{
   


    .content-title{
        // font-size: 4em;
        // color: #0b7473;
        // font-family: 'coolvetica' !important;
        // margin-top: 20px;
        width: 100%;
        margin-bottom: 10px;
        filter: drop-shadow(-3px 3px 0.2px #00559d);
    }

    p{
        font-family: 'coolvetica' !important;
        font-size: 20px;
        color: #27387A;
        text-align: justify;    
    }

    .career-prospect{
        margin-top: 2%;
        .prospect{
            img{
                width: 45%;
            }
        }
    }
    
}

.timeline{
    margin-top: 5%;
    margin-bottom: 4%;
    img{
        width: 85%;
    }
}

// FAQ
.faq{

    margin-top: 8% !important;
    h1{
        color: #27387A;
        font-family: 'coolvetica' !important;
        font-size:3.4em;
    }

    .accordion{
        margin-top: 2%;
        --bs-accordion-bg: transparent;

        .accordion-item {
            border: none !important;
            margin-bottom: 10px;
            border-radius: 15px;
            // border-color: #7dd0fc !important;
            // border: #7dd0fc;
            
            &:first-of-type {
                .accordion-button{
                    border-radius: 15px;
                }
            }

            &:last-of-type {
                .accordion-button{
                    border-radius: 15px;
                }
            }
        }
    }
    
    .accordion-button {
        border-radius: 15px;
        box-shadow: none !important;
        outline: none !important;
        border-top: 1px solid #fff !important;
        border-bottom: 1px solid #fff !important;
        font-size: 20px !important;
        font-weight:500;
        font-family: 'coolvetica' !important;
        background: #7dd0fc !important;
        
        color: #27387A !important;
        
        &::after(){
            
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
        }
    }
    
    .accordion-body {
        // font-family: 'coolvetica' !important;
        font-size: 1.1em;
        font-weight: 600;
        border-radius: 15px;
        color: #27387A;
        background-color: #e6f4ff;

        ul {
            list-style: none; /* Remove default bullets */
        }
        li::before {
            content: "•"; 
            color: rgb(249, 184, 72);
            height: 20px;
        }
        li::before {content: "•"; color:rgb(249, 184, 72);
            display: inline-block; 
            width: 14px;
            margin-left: -1em
        }
    }
          
        //   ul li::before {
        //     content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        //     color: red; /* Change the color */
        //     font-weight: bold; /* If you want it to be bold */
        //     display: inline-block; /* Needed to add space between the bullet and the text */
        //     width: 1em; /* Also needed for space (tweak if needed) */
        //     margin-left: -1em; /* Also needed for space (tweak if needed) */
        //   }
}

    



// Form
.form{
    margin-top: 3em;
    
    .card-form{
        border-radius: 15px !important;
        color: #27387A;
        background-color: #D1EAFF !important;
        border: 0;
        padding: 5px;
        font-family: 'coolvetica' !important;
        letter-spacing: -0.5px !important;

        // .form-control{
        //     border-radius: 10px;
        // }

        .select-checkbox{
            height: 45px;
            width: 300px;
            align-items: left;
            justify-content: space-evenly;
            border-radius: 5px;
            padding: 2px 2px;

            // .a-level{
            //     margin-left: -2px;
            // }

            // .student{
            //     margin-left: -2px;
            // }
        }

        .option{
            background: #F4E556;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            // margin: 0 10px 0;
            border-radius: 15px;
            cursor: pointer;
            padding: 0 10px;
            border: 0;
            transition: all 0.3s ease;
        }

        input[type="radio"] + label {
            height: 40px;
            width:max-content;
            text-align: center;
            padding: 7px 15px;
            font-family: 'coolvetica' !important;
            font-size: 15px !important;
            letter-spacing: 0.5px;
            color: #27387A !important;
        }
        
        input[type="radio"]:checked{
            &:checked + label {
                background-color: #27387A !important;
                color: #fff !important;
            }
            &:disabled + label {
                background-color: #F4E556;
            }
        }

        // input[type="checkbox"] {
        //     display: none;
        
        //     &:checked + label:before {
        //         background: #222;
        //     }
        // }

       .btn-submit{
            background-color: #FCCA47 !important;
            border: 0;
            height: 40px;
            border-radius: 15px !important;
            letter-spacing: 2px !important;
            color: #27387A !important;
       }

    }
    

    img{
        height: 300px;
        width: 280px;
    }
}

// Testimonial
.testimonial{
    margin-top: 5%;
    padding-left: -5% !important;
    padding-right: -5% !important;

    h1{
        font-family: 'coolvetica' !important;
        color: #27387A;
        font-size: 4.3em;
        letter-spacing: 4px;
    }

    .card-testimonial{
        margin-top: 5%;
        background-color: #27387A;
        color: #fff;
        border-radius: 15px;
        min-height: 250px;
        min-width: 200px;
        border:0;

        .quote{
            color: #00C6C2;
            font-size: 5em;
            margin-top: -15px;
        }
        
        .testi{
            margin-top: -15%;
            
        }
        
        .by{
            color: #00C6C2;
            // padding-top: 1vmax;
            margin-bottom: -2%;
        }

    }
}


// About us
.about-us{
    margin-top: 5%;

    h1{
        font-family: 'coolvetica' !important;
        color: #27387A;
        font-size: 4.3em;
        letter-spacing: 4px;
    }

    p{
        color: #27387A;
        font-size: 26px;
    }

    .icon{
        height: 60px;
        margin-bottom: 10px;
        aspect-ratio: 3/2;
        object-fit: contain;
    }

    .btn-register{
        margin-top: 4%;
        height: 65px;
        font-weight: 700;
        width: 40%;
        // padding: 0;
        color: #fff;
        border-radius: 15px;
        font-size: 2.2em;
    }

    .item-about-us{
        padding-bottom: 10px;
    }
}

// Footer

#footer {
    background: #27377C;
    padding: 50px 0;
    color: #fff;
}

#footer a {
    text-decoration: none;
    color: #fff;
}


// Responsive

@media screen and (max-width: 1000px) {
    .banner{
        padding-top: 10% !important;
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .booking{
        // margin-top: 2.2em;
        .group-booking{
            // margin-left: -1%;
            img{
                width: 50%;
            }
        }
    
        .price{
            margin-left: -5%;
            img{
                width: 85%;
            }
        }
    }

    .what-will-you-get{
        img{
            width: 100%;
        }
    }

    .timeline{
        // margin-top: 4%;
        // margin-bottom: 4%;
        img{
            width: 100%;
        }
    }
    
    .wrapper{
        padding-left: 5% !important;
        padding-right: 5% !important;
    }

    .form{
        img{

            height: 280px !important;
            width: 300px !important;
        }

        #opt-env{
            margin-top: 10px;
        }

        .ml-last-item{
            padding-top: 20%;
        }
    }


}

@media screen and (max-width: 768px) {
    .banner{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .faq-monitor{
        width: 70% !important;
    }

    .faq{
        .accordion-button {
            font-weight: 400;
            font-size: 16px !important;
        }
        
        .accordion-body{
            font-size: 16px !important;

        }
    }

    .btn-join-now{
        height: 30px !important;
        width: 100%;
        display: block;
    }

    .navbar{

        .navbar-brand{
            margin-left: 10px !important;
        }
    }
    
    #opt-env{
        margin-top: 30px;
    }

    .banner-grade {
        top: 30%;
        
        h4{
            font-size: 1.2em !important;
        }
        
        h1{
            font-size: 1.6em !important;
        }
    }

    .banner-desc{
        font-size: 20px !important;
        // font-weight: 500 !important;
    }


    .content{
        .content-img{
            width: 60% !important;
        }
    }

    .timeline{
        // margin-top: 4%;
        margin-bottom: 4%;
        img{
            width: 100%;
        }
    }

    .form{
        img{

            width: 250px !important;
        }
    }

    .testimonial{
        h1{
            font-size: 3em;
        }

        .card-testimonial{
            .quote{
                // color: #00C6C2;
                // font-size: 5em;
                margin-top: 0 !important;
            }
            
            .testi{
                margin-top: -30px !important;
                
            }
        }
    }

    .about-us{
        p{
            font-size: 1em;
            line-height: 1em;
            
        }

        h1{
            font-size: 3em;
        }
        
        .btn-register{
            margin-top: 4%;
            height: 65px;
            font-weight: 700;
            width: 85%;
            // padding: 0;
            color: #fff;
            border-radius: 15px;
            font-size: 2.2em;
        }
    }

}

@media screen and (max-width: 576px) {
    .banner{
        margin-top: 5% !important;
    }

    p{
        font-size: 16px !important;
        font-weight: 500 !important;
    }

    .banner-logo{
        width:100px !important;
    }

    .banner-grade {
        top: 20%;

        h4{
            font-size: 1.1em !important;
        }
            
        h1{
            font-size: 1.5em !important;
        }
    }

    .timeline{
        img{
            width: 100%;
        }
    }

    .price-booking{
        margin-bottom: 30px;
    }
    

}

@media screen and (max-width: 400px) {

    .banner{
        margin-top: 10% !important;
    }

    .banner-grade {
        top: 10%;
    }

    .testimonial{
        h1{
            font-size: 2em;
        }
    }

    .about-us{

        h1{
            font-size: 2em;
        }
    }

}

@media screen and (max-width: 388px) {
    .form-pl{
        padding-left: 0 !important;
    }
    #mlb2-2926634{
        .ml-form-embedContainer{

            .ml-form-align-center{
                text-align: unset !important;
            }
        }
    }
}


@keyframes slide {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(5%);
    }
}

@keyframes up-bottom {
    0% {
        transform: translateX(-3%);
        transform: translateY(3%);
    }

    100% {
        transform: translateX(3%);
        transform: translateY(-3%);
    }
}