@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");
@font-face {
  font-family: "coolvetica";
  src: url("../font/coolvetica rg.ttf") format("woff");
}
body {
  font-family: "Source Sans Pro", sans-serif !important;
}

.navbar {
  font-family: "coolvetica" !important;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar ul {
  padding-left: 10px;
}
.navbar ul a.active {
  color: #27387A !important;
}
.navbar .navbar-brand {
  margin-left: -10px !important;
}

.navbar-allin {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -100px !important;
  background: transparent !important;
  transition: all 0.4s ease-in-out;
}

.navbar-allin.active {
  top: 0px;
  z-index: 9999;
  background-color: #00c6c2 !important;
}

.btn-join-now {
  border-radius: 20px;
  color: #27387A !important;
  padding: 0;
  width: 9%;
  background-color: #F4E556 !important;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.banner {
  height: auto;
  padding: 100px 13%;
  padding-bottom: 0;
  margin-top: -0.2%;
}

.banner-logo {
  width: 125px;
}

.banner-title {
  width: 80%;
  margin-left: -3%;
  margin-top: 10px;
}

.banner-desc {
  color: #27387A;
  font-size: 25px;
  font-weight: lighter;
  text-align: justify;
  letter-spacing: 0px;
}

.banner-grade {
  position: absolute;
  top: 35%;
  right: 0;
  font-family: "coolvetica" !important;
  color: #27387A;
  text-align: right;
}

.option-bootcamp .researcher {
  margin-left: 10%;
}
.option-bootcamp .financial {
  margin-left: -10%;
}

.booking {
  margin-top: 2.2em;
}
.booking .group-booking img {
  width: 45%;
}
.booking .price {
  margin-left: -60% !important;
}
.booking .price img {
  width: 85% !important;
}

.what-will-you-get {
  margin-top: 3em;
}
.what-will-you-get img {
  width: 90%;
}

.wrapper {
  padding: 50px 13%;
  margin-top: -3%;
}

.content .content-title {
  width: 100%;
  margin-bottom: 10px;
  filter: drop-shadow(-3px 3px 0.2px #00559d);
}
.content p {
  font-family: "coolvetica" !important;
  font-size: 20px;
  color: #27387A;
  text-align: justify;
}
.content .career-prospect {
  margin-top: 7%;
}
.content .career-prospect .prospect img {
  width: 45%;
}

.timeline {
  margin-bottom: 4%;
}
.timeline img {
  width: 85%;
}

.faq {
  margin-top: 8% !important;
}
.faq h1 {
  color: #27387A;
  font-family: "coolvetica" !important;
  font-size: 3.4em;
}
.faq .accordion {
  margin-top: 2%;
  --bs-accordion-bg: transparent;
}
.faq .accordion .accordion-item {
  border: none !important;
  margin-bottom: 10px;
  border-radius: 15px;
}
.faq .accordion .accordion-item:first-of-type .accordion-button {
  border-radius: 15px;
}
.faq .accordion .accordion-item:last-of-type .accordion-button {
  border-radius: 15px;
}
.faq .accordion-button {
  border-radius: 15px;
  box-shadow: none !important;
  outline: none !important;
  border-top: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important;
  font-size: 20px !important;
  font-weight: 500;
  font-family: "coolvetica" !important;
  background: #7dd0fc !important;
  color: #27387A !important;
}
.faq .accordion-button::after() {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.faq .accordion-body {
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 15px;
  color: #27387A;
  background-color: #e6f4ff;
}
.faq .accordion-body ul {
  list-style: none; /* Remove default bullets */
}
.faq .accordion-body li::before {
  content: "•";
  color: rgb(249, 184, 72);
  height: 20px;
}
.faq .accordion-body li::before {
  content: "•";
  color: rgb(249, 184, 72);
  display: inline-block;
  width: 14px;
  margin-left: -1em;
}

.form {
  margin-top: 3em;
}
.form .card-form {
  border-radius: 15px !important;
  color: #27387A;
  background-color: #D1EAFF !important;
  border: 0;
  padding: 5px;
  font-family: "coolvetica" !important;
  letter-spacing: -0.5px !important;
}
.form .card-form .select-checkbox {
  height: 45px;
  width: 300px;
  align-items: left;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 2px 2px;
}
.form .card-form .option {
  background: #F4E556;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 15px;
  cursor: pointer;
  padding: 0 10px;
  border: 0;
  transition: all 0.3s ease;
}
.form .card-form input[type=radio] + label {
  height: 40px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
  padding: 7px 15px;
  font-family: "coolvetica" !important;
  font-size: 15px !important;
  letter-spacing: 0.5px;
  color: #27387A !important;
}
.form .card-form input[type=radio]:checked:checked + label {
  background-color: #27387A !important;
  color: #fff !important;
}
.form .card-form input[type=radio]:checked:disabled + label {
  background-color: #F4E556;
}
.form .card-form .btn-submit {
  background-color: #FCCA47 !important;
  border: 0;
  height: 40px;
  border-radius: 15px !important;
  letter-spacing: 2px !important;
  color: #27387A !important;
}
.form img {
  height: 300px;
  width: 280px;
}

.testimonial {
  margin-top: 5%;
  padding-left: -5% !important;
  padding-right: -5% !important;
}
.testimonial h1 {
  font-family: "coolvetica" !important;
  color: #27387A;
  font-size: 4.3em;
  letter-spacing: 4px;
}
.testimonial .card-testimonial {
  margin-top: 5%;
  background-color: #27387A;
  color: #fff;
  border-radius: 15px;
  min-height: 250px;
  min-width: 200px;
  border: 0;
}
.testimonial .card-testimonial .quote {
  color: #00C6C2;
  font-size: 5em;
  margin-top: -15px;
}
.testimonial .card-testimonial .testi {
  margin-top: -15%;
}
.testimonial .card-testimonial .by {
  color: #00C6C2;
  margin-bottom: -2%;
}

.about-us {
  margin-top: 5%;
}
.about-us h1 {
  font-family: "coolvetica" !important;
  color: #27387A;
  font-size: 4.3em;
  letter-spacing: 4px;
}
.about-us p {
  color: #27387A;
  font-size: 26px;
}
.about-us .icon {
  height: 60px;
  margin-bottom: 10px;
  aspect-ratio: 3/2;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .btn-register {
  margin-top: 4%;
  height: 65px;
  font-weight: 700;
  width: 40%;
  color: #fff;
  border-radius: 15px;
  font-size: 2.2em;
}
.about-us .item-about-us {
  padding-bottom: 10px;
}

#footer {
  background: #27377C;
  padding: 50px 0;
  color: #fff;
}

#footer a {
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .banner {
    padding-top: 10% !important;
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .booking .group-booking img {
    width: 50%;
  }
  .booking .price {
    margin-left: -5%;
  }
  .booking .price img {
    width: 85%;
  }
  .what-will-you-get img {
    width: 100%;
  }
  .timeline img {
    width: 100%;
  }
  .wrapper {
    padding-left: 5% !important;
    padding-right: 5% !important;
  }
  .form img {
    height: 280px !important;
    width: 300px !important;
  }
  .form #opt-env {
    margin-top: 10px;
  }
  .form .ml-last-item {
    padding-top: 20%;
  }
}
@media screen and (max-width: 768px) {
  .banner {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .faq-monitor {
    width: 70% !important;
  }
  .faq .accordion-button {
    font-weight: 400;
    font-size: 16px !important;
  }
  .faq .accordion-body {
    font-size: 16px !important;
  }
  .btn-join-now {
    height: 30px !important;
    width: 100%;
    display: block;
  }
  .navbar .navbar-brand {
    margin-left: 10px !important;
  }
  #opt-env {
    margin-top: 30px;
  }
  .banner-grade {
    top: 30%;
  }
  .banner-grade h4 {
    font-size: 1.2em !important;
  }
  .banner-grade h1 {
    font-size: 1.6em !important;
  }
  .banner-desc {
    font-size: 20px !important;
  }
  .content .content-img {
    width: 60% !important;
  }
  .timeline {
    margin-bottom: 4%;
  }
  .timeline img {
    width: 100%;
  }
  .form img {
    width: 250px !important;
  }
  .testimonial h1 {
    font-size: 3em;
  }
  .testimonial .card-testimonial .quote {
    margin-top: 0 !important;
  }
  .testimonial .card-testimonial .testi {
    margin-top: -30px !important;
  }
  .about-us p {
    font-size: 1em;
    line-height: 1em;
  }
  .about-us h1 {
    font-size: 3em;
  }
  .about-us .btn-register {
    margin-top: 4%;
    height: 65px;
    font-weight: 700;
    width: 85%;
    color: #fff;
    border-radius: 15px;
    font-size: 2.2em;
  }
}
@media screen and (max-width: 576px) {
  .banner {
    margin-top: 5% !important;
  }
  p {
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  .banner-logo {
    width: 100px !important;
  }
  .banner-grade {
    top: 20%;
  }
  .banner-grade h4 {
    font-size: 1.1em !important;
  }
  .banner-grade h1 {
    font-size: 1.5em !important;
  }
  .timeline img {
    width: 100%;
  }
  .price-booking {
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 400px) {
  .banner {
    margin-top: 10% !important;
  }
  .banner-grade {
    top: 10%;
  }
  .testimonial h1 {
    font-size: 2em;
  }
  .about-us h1 {
    font-size: 2em;
  }
}
@media screen and (max-width: 388px) {
  .form-pl {
    padding-left: 0 !important;
  }
  #mlb2-2926634 .ml-form-embedContainer .ml-form-align-center {
    text-align: unset !important;
  }
}
@-webkit-keyframes slide {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(5%);
  }
}
@-webkit-keyframes up-bottom {
  0% {
    transform: translateX(-3%);
    transform: translateY(3%);
  }
  100% {
    transform: translateX(3%);
    transform: translateY(-3%);
  }
}
@keyframes up-bottom {
  0% {
    transform: translateX(-3%);
    transform: translateY(3%);
  }
  100% {
    transform: translateX(3%);
    transform: translateY(-3%);
  }
}/*# sourceMappingURL=main.css.map */